<div class="shareme-submission">
    <h2 class="shareme-submission-title">{{ submission.getDateAdded }}</h2>
    <p><img src="{{ aws_base_url }}/{{submission.url}}" alt="image"/></p>
</div><!-- /.blog-post -->