<div class="shareme-submission">
    <h2 class="shareme-submission-title">{{ submission.getDateAdded }}</h2>
    <p><img src="https://{{ aws_base_url }}/{{submission.url}}" alt="image" width="544" height="400"/></p>
</div><!-- /.blog-post -->